<!-- Container for demo purpose -->
<div class="snap-mandatory snap-y overflow-y-scroll "> 
<div class="container my-24 pt-32 mx-auto mb-96 snap-start" >


    <section class="mb-32 text-gray-800 text-center">
      <div class="flex justify-center">
        <div class="text-center max-w-[700px]">
          <h2 class="text-3xl font-bold mb-6 text-center text-blue-600">
            Our Core Services
          </h2>
          <p class="text-gray-500 mb-12">
            We leverage state of the art technologies and tools to ensure academic honesty and integrity.
          </p>
        </div>
      </div>
  
      <div class="grid md:grid-cols-2 lg:grid-cols-4 lg:gap-x-12">
        <div class=" mb-12 lg:mb-0">
          <div class="p-4 bg-blue-200 rounded-full shadow-lg inline-block mb-6">
            <img src="../../assets/image/eye.png" class="w-10 h-10">
          </div>
          <h5 class="text-lg font-bold mb-4">Eye Tracking</h5>
          <p class="text-gray-500">
            Eye tracking to ensure the examinee is not sourcing their answers from unethical sources
          </p>
        </div>
        
        <div class="mb-12 lg:mb-0">
            <div class="p-4 bg-blue-200 rounded-full shadow-lg inline-block mb-6">
                <img src="../../assets/image/face-recognition.png" class="w-10 h-10">
              </div>
          <h5 class="text-lg font-bold mb-4">Face Recognition and Tracking</h5>
          <p class="text-gray-500">
            We ensure that no one other than the examinee sits for the exam
          </p>
        </div>
  
        <div class="mb-12 md:mb-0">
            <div class="p-4 bg-blue-200 rounded-full shadow-lg inline-block mb-6">
                <img src="../../assets/image/test (1).png" class="w-10 h-10">
              </div>
          <h5 class="text-lg font-bold mb-4">Import Handwritten Questions</h5>
          <p class="text-gray-500">
            Blink allows you to scan handwritten questions and import it directly on the platform
          </p>
        </div>
  
        <div class="mb-12 md:mb-0">
            <div class="p-4 bg-blue-200 rounded-full shadow-lg inline-block mb-6">
                <img src="../../assets/image/smart-contracts.png" class="w-10 h-10">
              </div>
          <h5 class="text-lg font-bold mb-4">Smart Proctoring</h5>
          <p class="text-gray-500">
            Blink leverages data to help examiners make quick decisions in case of suspected unethical behavior
          </p>
        </div>
      </div>
    </section >
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->
<!-- Container for demo purpose -->
<div class="container  mx-auto pt-32 snap-end ">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800">
      <div class="flex flex-wrap items-center">
        <div class="grow-0 shrink-0 basis-auto w-full lg:w-4/12 mb-6 md:mb-0 px-3">
          <h2 class="text-3xl font-bold mb-6 text-blue-600">
            More Features
          </h2>
  
          <p class="text-gray-500 mb-12">
            
          </p>
        </div>
  
        <div class="grow-0 shrink-0 basis-auto w-full lg:w-8/12 mb-6 mb-md-0 px-3">
          <div class="flex flex-wrap">
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Video Conferencing </p>
                  <p class="text-gray-500">
                    No need to use aditional video conferencing platforms. 
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Browser Tab Monitoring</p>
                  <p class="text-gray-500">
                    Montoring the browser to ensure that only the exam tab is selected during the exam
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Audio-visual Notifications</p>
                  <p class="text-gray-500">
                    Automated warnings in the form of visual and audio cues to students suspected of suspicious activies .
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Analytics</p>
                  <p class="text-gray-500">
                   Detailed reports of the activies of every student in the exam to assist the examiner.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Lightweight</p>
                  <p class="text-gray-500">
                   We developed it so that it runs on most computers to ensure student accessibility.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Easy to use</p>
                  <p class="text-gray-500">
                    Intuitive user interface gives maximum ease of access to online proctoring.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Modular</p>
                  <p class="text-gray-500">
                    As a web application there is no added overhead to install anythin.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12">
              <div class="flex">
                <div class="shrink-0 mt-1">
                  <svg class="w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                </div>
                <div class="grow ml-4">
                  <p class="font-bold mb-1">Continuous Support</p>
                  <p class="text-gray-500">
                    Our team will provide support to customers on demand.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->
</div>