.main-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient( #ffffff, #a3fbf7);
  min-height:100vh;
  padding-top: 88px;
}

.cl-head {
  color: black;
  height:4px;
}
/*
.list-group-item {
  background: rgb(216, 213, 213);
}
*/
