{{index+1}}.
<div [formGroup]="questionForm">
    <div>
        <mat-label>
            {{ question.question }}
        </mat-label>
        <mat-radio-group
            id="radiogroup"
            aria-label="Select an option"
            formControlName="{{ index }}"
        >
            <mat-radio-button
                *ngFor="let option of question.options; let i = index"
                [value]="i"
                style="display: block"
                >{{ option }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
