<div class=" main-bg">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <h2>{{examDetails.examName}}</h2>
            <hr class="cl-head">
            <br><br>

            <h4>{{examDetails.teacherName}}</h4>
            <i class="fa fa-calendar"></i> {{getExamDate(examDetails.examDate)}} {{getExamMonth(examDetails.examDate)}} <br>
            <i class="fa fa-clock"></i> {{examDetails.startTime}} <br>
            <i class="fa fa-stopwatch"></i> {{examDetails.duration}} minutes <br>
            <br><br>
            <div class="btn-button">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onClick(examDetails)">Invite </button>&nbsp;&nbsp;
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalEdit" (click)="onClick(examDetails)">Edit Exam </button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDel" (click)="onClick(examDetails)">Delete Exam </button>
            </div>
          </div>
          <div class="col-6">
            <h2>Participante List&nbsp;&nbsp;<i class="fa fa-users"></i></h2>
            <hr class="cl-head">
            <br><br>
            <div *ngFor="let participant of participants">
              &nbsp;&nbsp;&nbsp;
              <span class="fa fa-user-circle"></span>
              &nbsp;{{participant.fullName}}
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#kickModal" (click)="onKick(participant)"></button>
              <hr>
            </div>
          </div>
        </div>
        <br> <br>
        <object [data]="examDetails.question | safe" type="application/pdf" width="800" height="600"> </object>
      </div>
      <div class="col-4">
        <h2>Notification&nbsp;&nbsp;<i class="fas fa-bell"></i></h2>
        <hr class="cl-head">
        <br><br>
        <ul class="list-group list-group-flush" *ngFor="let notification of notificationList | async">
          <li class="list-group-item">
            Suspicious Activity
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Just Now </b><br>
            <hr>
            Student Name: {{notification.fullName}} <br>
            Time: {{notification.time }} <br>
            Evidence: <a href="{{notification.screenRecord}}" *ngIf="notification.screenRecord != ''" target="_blank">Screen Record</a> &nbsp;&nbsp;
            <a href="{{notification.cameraRecord}}" *ngIf="notification.cameraRecord != ''" target="_blank">Camera Footage</a>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Modal Class-->
    <!--Invitation-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Exam Invitation </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <b>[Exam Name : {{selectedExam.examName}}]</b>
            <br>
            <b>[Exam Code : {{selectedExam._id}}]</b>
            <br><br>
            <form>
              <div class="mb-3">
                <label for="recipient-email" class="col-form-label"><h6>Student Email:</h6></label>
                <input type="email" class="form-control" id="recipient-email" placeholder="Email Address" required="" [(ngModel)]="this.recipientEmail" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"><h6>Message:</h6></label>
                <textarea class="form-control" id="message-text" placeholder="Invitation Message"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="invite()">Send invitation</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!--Modal Class-->
    <!--Edit-->
    <div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Exam Edit </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <b>[Exam Code : {{selectedExam._id}}]</b>
              <br><br>
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label"><h6>Exam name:</h6></label>
                  <input type="text" class="form-control" id="recipient-name" ngDefaultControl [(ngModel)]="selectedExam.examName" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="mb-3">
                  <label for="recipient-time" class="col-form-label"><h6>Start Time:</h6></label>
                  <input type="time" class="form-control" id="recipient-time" ngDefaultControl [(ngModel)]="selectedExam.startTime" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                    <label for="recipient-date" class="col-form-label"><h6>Exam Date:</h6></label>
                    <input type="date" class="form-control" id="recipient-date" ngDefaultControl [(ngModel)]="selectedExam.examDate" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="recipient-duration" class="col-form-label"><h6>Exam Duration(In minute):</h6></label>
                  <input type="text" class="form-control" id="recipient-duration" ngDefaultControl [(ngModel)]="selectedExam.duration" [ngModelOptions]="{standalone: true}">
                  <label for="recipient-duration" class="col-form-label"><h6>Valid Outsight Time(In second):</h6></label>
                  <input type="text" class="form-control" id="recipient-duration" ngDefaultControl [(ngModel)]="selectedExam.outSightTime" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label"><h6>Message:</h6></label>
                  <textarea class="form-control" id="message-text" placeholder="Invitation Message"></textarea>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label" ><h6>Question:</h6></label>
                  <input type="file" class="form-control" id="recipient-duration" placeholder="120" (change)="uploadFile($event)" >
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="update()">Save Change</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <!-- Delete -->
      <div class="modal fade" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you confirm to delete exam?
              <br>
              <b>[Exam Name : {{selectedExam.examName}}]</b>
              <br>
              <b>[Exam Code : {{selectedExam._id}}]</b>
            </div>
            <form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="delete()">Yes</button>
                </div>
            </form>
          </div>
        </div>
      </div>

<!-- Modal -->
<!-- create -->
<div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Exam Create </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>

            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="this.selectedExam._id">

            <div class="mb-3">
                <label for="message-text" class="col-form-label" ><h6>Exam Name:</h6></label>
                <input class="form-control" id="message-text" placeholder="Exam Name" #examName="ngModel" ngDefaultControl [(ngModel)]="selectedExam.examName" [ngModelOptions]="{standalone: true}" required>
              </div>
            <div class="mb-3">
              <label for="recipient-time" class="col-form-label" ><h6>Start Time:</h6></label>
              <input type="time" class="form-control" id="recipient-time" placeholder="09:00AM" #startTime="ngModel" ngDefaultControl [(ngModel)]="selectedExam.startTime" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="mb-3">
                <label for="recipient-date" class="col-form-label" ><h6>Exam Date:</h6></label>
                <input type="date" class="form-control" id="recipient-date" placeholder="11/11/2011" #examDate="ngModel" ngDefaultControl [(ngModel)]="selectedExam.examDate" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="mb-3">
              <label for="recipient-duration" class="col-form-label" ><h6>Exam Duration(In minute):</h6></label>
              <input type="text" class="form-control" id="recipient-duration" placeholder="120" #duration="ngModel" ngDefaultControl [(ngModel)]="selectedExam.duration" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-3">
              <label for="recipient-duration" class="col-form-label" ><h6>Outsight limit(In second):</h6></label>
              <input type="text" class="form-control" id="recipient-outsight-limit" placeholder="120" #duration="ngModel" ngDefaultControl [(ngModel)]="selectedExam.outSightTime" [ngModelOptions]="{standalone: true}">

            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label" ><h6>Message:</h6></label>
              <textarea class="form-control" id="message-text" placeholder="Invitation Message" #message="ngModel" ngDefaultControl [(ngModel)]="selectedExam.message" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" >Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- modal
  kick -->
  <div class="modal fade" id="kickModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kick Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to kick examinee?
          <br>
          <b>[Examinee Name : {{selectedExam.examName}}]</b>
          <br>
          <b>[Examinee Name : {{selectedExam._id}}]</b>
        </div>
        <form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="kick()">Yes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
