<div class=" main-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Exam Info</h2>
        <hr class="cl-head">
        <br><br>

        <h4>{{examDetails.teacherName}}</h4>
        <i class="fa fa-calendar"></i> {{getExamDate(examDetails.examDate)}} {{getExamMonth(examDetails.examDate)}} <br>
        <i class="fa fa-clock"></i> {{examDetails.startTime}} <br>
        <i class="fa fa-stopwatch"></i> {{examDetails.duration}} minutes <br>
        <br><br>
        <div class="btn-button">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Invite </button>&nbsp;&nbsp;
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">Edit Exam </button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDel">Delete Exam </button>
        </div>
      </div>
      <div class="col">
        <h2>Participante List&nbsp;&nbsp;<i class="fa fa-users"></i></h2>
        <hr class="cl-head">
        <br><br>
        &nbsp;&nbsp;&nbsp;
        <span class="fa fa-user-circle"></span>
        &nbsp;Md. Siam
        <button type="button" class="btn-close" aria-label="Close"></button>
        <hr>
        &nbsp;&nbsp;&nbsp;
        <span class="fa fa-user-circle"></span>
        &nbsp;Md. Inzamam-Ul Haque Sobuz
        <button type="button" class="btn-close" aria-label="Close"></button>
        <hr>
        &nbsp;&nbsp;&nbsp;
        <span class="fa fa-user-circle"></span>
        &nbsp;Raisul Islam Rahat
        <button type="button" class="btn-close" aria-label="Close"></button>
        <hr>
      </div>
      <div class="col">
        <h2>Notification&nbsp;&nbsp;<i class="fas fa-bell"></i></h2>
        <hr class="cl-head">
        <br><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Suspicious Activity
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Just Now </b><br>
            <hr>
            Student Name: Md Siam <br>
            Time: 10:20PM <br>
            Evidence: <a href="">Screen Record</a> &nbsp;&nbsp;
            <a href="">Camera Footage</a>
          </li>
          <br>
          <li class="list-group-item">
            Tab change
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            <b>1m ago</b> <br>
            <hr>
            Student Name: Md Siam <br>
            Time: 10:20PM
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>
