<div class="exam">
  <br><br><br><br><br>
  <div class="calibrationDiv" *ngIf="!calibrationDone && stepDone >= 5">

    <input type="button" (click)="calibrationClick(0)" class="calibration" id="pt1" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(1)" class="calibration" id="pt2" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(2)" class="calibration" id="pt3" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(3)" class="calibration" id="pt4" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(4)" class="calibration" id="pt5" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(5)" class="calibration" id="pt6" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(6)" class="calibration" id="pt7" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(7)" class="calibration" id="pt8" style="background-color: red; opacity: 0.2">
    <input type="button" (click)="calibrationClick(8)" class="calibration" id="pt9" style="background-color: red; opacity: 0.2">
  </div>


  <div class="afterCalibration" *ngIf="calibrationDone">
    <div class="row">
      <div class="col-1"> </div>
      <div class="col-4">
        <br><br><br>
        <div class="clockdown">
          Exam Remaining Time:
          <div *ngIf="!hide">
            <button class="btn btn-dark">{{remHour}}</button> <b> : </b>
            <button class="btn btn-dark"> {{remMinute}} </button> <b> : </b>
            <button class="btn btn-dark">{{remSecond}}</button>
          </div>
          <div *ngIf="hide">
            <button class="btn btn-light">{{remHour}}</button> <b> : </b>
            <button class="btn btn-light"> {{remMinute}} </button> <b> : </b>
            <button class="btn btn-light">{{remSecond}}</button>
          </div>
        </div>
        <br><br>
        <div class="manual">
          <h4>GUIDELINES</h4>
          <hr class="cl-head">
          <h5>During the exam -</h5>
          <input type="checkbox" checked> You must keep the !BLINK tab full of your entire screen. <br>
          <input type="checkbox" checked> You can not change the exam tab. <br>
          <input type="checkbox" checked> Changing a tab will send notification towards the to the teacher. <br>
          <input type="checkbox" checked> Screen recond will be sent once exam ends. <br>
          <input type="checkbox" checked> You can't outsight screen for more than {{examDetails.outSightTime}} seconds. <br>
          <input type="checkbox" checked> Your camera footage will be sent to teacher as soon as you are detected to be suspicious.
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-warning" (click)="endExam()">Leave Exam</button>
        <object [data]="examDetails.question | safe" type="application/pdf" width="1000" height="800"> </object>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>

  <app-eye-track *ngIf="stepDone >= 5"></app-eye-track>

</div>



