

<app-teacher-exam-card *ngIf="userDetails.isTeacher"></app-teacher-exam-card>
<app-student-exam-card *ngIf="!userDetails.isTeacher"></app-student-exam-card>
<!-- <app-user-profile></app-user-profile> -->
<!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCreate" *ngIf="userDetails.isTeacher">Create Exam </button>

<div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Exam Create </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>

            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="this.selectedExam._id">

            <div class="mb-3">
                <label for="message-text" class="col-form-label" ><h6>Exam Name:</h6></label>
                <input class="form-control" id="message-text" placeholder="Exam Name" #examName="ngModel" ngDefaultControl [(ngModel)]="selectedExam.examName" [ngModelOptions]="{standalone: true}">
              </div>
            <div class="mb-3">
              <label for="recipient-time" class="col-form-label" ><h6>Start Time:</h6></label>
              <input type="time" class="form-control" id="recipient-time" placeholder="09:00AM" #startTime="ngModel" ngDefaultControl [(ngModel)]="selectedExam.startTime" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-3">
                <label for="recipient-date" class="col-form-label" ><h6>Exam Date:</h6></label>
                <input type="date" class="form-control" id="recipient-date" placeholder="11/11/2011" #examDate="ngModel" ngDefaultControl [(ngModel)]="selectedExam.examDate" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-3">
              <label for="recipient-duration" class="col-form-label" ><h6>Exam Duration(In minute):</h6></label>
              <input type="text" class="form-control" id="recipient-duration" placeholder="120" #duration="ngModel" ngDefaultControl [(ngModel)]="selectedExam.duration" [ngModelOptions]="{standalone: true}">
          </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label" ><h6>Message:</h6></label>
              <textarea class="form-control" id="message-text" placeholder="Invitation Message" #message="ngModel" ngDefaultControl [(ngModel)]="selectedExam.message" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="createExam()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
